.wp-block-fahad-blocks-team-member {
	&__title {
		color: rgb(10, 9, 9);
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 0;
	}
	&__info {
		color: #565656;
		font-weight: 300px;
		margin-bottom: 5px;
	}
}
