/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-fahad-block {
	border: 1px dotted rgb(100, 78, 78);
	
}
.block-editor-rich-text__editable {
	background-color: red($color: #532626);
}

.editor-box {
	width: 700px;
	height: 200px;
}

.hello {
	border: 2px solid rgba(8, 122, 167, 0.808);
	min-width: 90px;
	max-height: min-content;
	display: inline-block;
	margin-bottom: 0px;
}

.slide {
	transition-property: width;
	transition-duration: 2s;
	transition-timing-function: linear;
	transition-delay: 2s;
}
